.assignment-quiz .answer-area .assignment-block {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.assignment-quiz .answer-area .assignment-block > p {
  margin: unset;
  padding: 0.25em;
  border: 2px solid black;
  background: #cccccc;
  border-radius: 0.25rem;
}

.assignment-quiz .answer-area .assignment-block > span {
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-content: center;
}

.assignment-quiz .answer-area .assignment-block > select {
  padding: 0.25em;
  border: 2px solid black;
  border-radius: 0.25rem;
  background-color: #fee08b;
}
