.choice-quiz .answer-area button {
  flex-grow: 1;
  width: 66%;
  padding: 0.5em;
  background-color: var(--widget-idle-color);
  border-radius: 0.5rem;
}

.choice-quiz button:hover:not(:disabled) {
  background-color: var(--widget-hover-color);
}

.choice-quiz button:active:not(:disabled) {
  background-color: var(--widget-active-color);
  color: white;
}

.choice-quiz button[aria-pressed=true] {
  background-color: #2a9ddf;
}

.choice-quiz button[aria-pressed=true]:hover:not(:disabled) {
  background-color: color-mix(in srgb, #2a9ddf 80%, rgb(0,0,0) 20%);
}

.choice-quiz button[aria-pressed=true]:active:not(:disabled) {
  background-color: color-mix(in srgb, #2a9ddf 70%, rgb(0,0,0) 30%);
  color: white;
}

.choice-quiz button[aria-pressed=true]:disabled {
  background-color: color-mix(in srgb, var(--widget-disabled-color) 50%, #2a9ddf 50%);
}
