.choice-quiz .answer-area button {
  flex-grow: 1;
  width: 66%;
  padding: 0.25em;
  background-color: #eab700;
  border-radius: 0.5rem;
}

.choice-quiz button:hover:not(:disabled) {
  background-color: #f5871f;
}

.choice-quiz button:active:not(:disabled) {
  background-color: #c82829;
  color: white;
}

.choice-quiz button[aria-pressed=true] {
  background-color: #2a9ddf;
}

.choice-quiz button[aria-pressed=true]:hover:not(:disabled) {
  background-color: #3e999f;
}

.choice-quiz button[aria-pressed=true]:active:not(:disabled) {
  background-color: #8959a8;
  color: white;
}

.choice-quiz button[aria-pressed=true]:disabled {
  background-color: color-mix(in srgb, var(--widget-disabled-color) 50%, #2a9ddf 50%);
}
