.text-quiz input[type="text"] {
  height: 3.5rem;
  font-size: 2rem;
  padding: 1rem;
  width: 66%;
  box-sizing: border-box;
}

.text-quiz input[type="text"]:focus {
  border: var(--widget-border-width) solid #c82829;
  outline: none;
}
