.text-quiz input[type="text"] {
  height: 2.1rem;
  font-size: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 75vw;
}

.text-quiz input[type="text"]:focus {
  border: var(--widget-border-width) solid #c82829;
  outline: none;
}
