.selection-quiz p {
  text-align: center;
  font-size: 3rem;
}

.selection-quiz .select-wrapper {
  --select-text-color: black;
  display: inline-grid;
  grid-template-areas: "select";
  background-color: #fee08b;
  border: 1px solid black;  
  border-radius: 0.25rem;
  margin: 0;
  align-items: center;
}

.selection-quiz .select-wrapper:focus-within {
  background-color: #fdae61;
  border: 1px solid #f46d43;
}

.selection-quiz select {
  appearance: none;
  z-index: 2;
  padding: 0 1.5em 0 0.25em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-area: select;
}

.selection-quiz select:disabled {
  color: var(--select-text-color);
  cursor: default;
}

.selection-quiz .select-wrapper::after {
  content: "";
  z-index: 1;
  width: 0.8em;
  height: 0.5em;
  margin-right: 0.25em;
  background-color: var(--select-text-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

.selection-quiz .select-wrapper:has(:disabled) {
  --select-text-color: rgba(16,16,16,0.3);
}
