.selection-quiz .select-wrapper {
  --select-text-color: black;
  height: 2rem;
  display: grid;
  grid-template-areas: "select";
  background-color: var(--widget-background-color);
  border: var(--widget-border-width) solid var(--widget-border-color);
  border-radius: var(--widget-border-radius);
  margin: 0;
  align-items: center;
}

@media (hover: hover) {
  .selection-quiz .select-wrapper:hover {
    background-color: var(--widget-hover-color);
  }
  
  .selection-quiz .select-wrapper:focus-within {
    background-color: var(--widget-hover-color);
  }
}

.selection-quiz .select-wrapper select {
  appearance: none;
  height: 100%;
  line-height: 2rem;
  z-index: 2;
  padding: 0 1.5em 0 0.25em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-area: select;
}

.selection-quiz .select-wrapper select:active {
  border: none;
}

.selection-quiz .select-wrapper select:focus {
  border: none;
}

.selection-quiz select:disabled {
  cursor: default;
}

.selection-quiz .select-wrapper::after {
  content: "";
  z-index: 4;
  width: 0.8em;
  height: 0.5em;
  margin-right: 0.25em;
  background-color: var(--select-text-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

.selection-quiz .select-wrapper:has(:disabled) {
  --select-text-color: rgba(16,16,16,0.3);
}
